*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: black;
}

/* nav */
.dropdown-item img{
    height: 40px;
}

.dropdown-item span{
    margin-left: 10px;
}


.box-item{
    display: flex;
    align-items: center;
}


/* header */
header{
    background-image: url(imagens/bg_header2.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
}

.box-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.header-texto{
    width: 50%;
    font-size: 70px;
    border-left: 3px solid black;
    padding-left: 10px;
    margin-left: 20px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}

/* main */
/* section-sobre */
#sobre{
    margin: 50px 20px 30px 20px;
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.sobre-texto{
    padding: 30px 30px 10px 30px;
}

.sobre-texto p{
    text-indent: 25px;
}

.sobre-foto img{
    border-radius: 50% ;
    /* width: 90%; */
    margin: 0 5% 5% 5%;
    height: 400px;
    width: 300px;
}


/* section-estudo */
#estudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-estudo{
    background-color: whitesmoke;
    width: 90vw;
    height: 350px;
    margin: 15px 0;
    border-radius: 50px;
}

.box-estudo img{
    height: 100%;
    width: 100%;
    padding: 15px;
}

.box-estudo ul{
    display: none;
    margin-left: 10%;
    padding: 25px;
    font-size: 1.2em;
    width: 90%;
}

.box-estudo ul li{
    font-size: 1.2em;
}

.box-estudo:hover img{
    display: none;
}

.box-estudo:hover ul{
    display: inline-block;
}


/* section-certificados */
#certificados{
    width: 80vw;
    margin: 0 auto;
}

.carousel-item img{
    width: 100%;
    height: 50vh;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    filter: invert(100%);
}

/* footer */
.box-icones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icone i{
    font-size: 1.4em;
}


/* media queries TABLETS */
@media (min-width:768px){
    .header-texto{
        font-size: 90px;
    }

    #sobre{
        margin: 50px 20px 30px 20px;
        display: flex;
        flex-direction: row;
        background-color: whitesmoke;
        align-items: center;
        border-radius: 20px;
    }

    .sobre-texto{
        order: 1;
        width: 60vw;
    }

    .sobre-foto{
        display: flex;
        justify-content: center;
        width: 40vw;
    }

    #estudo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box-estudo{
        width: 25vw;
        background-color: whitesmoke;
        border-radius: 50px;
        margin-right: 15px;
    }

    .box-estudo ul{
        font-size: 1em;
    }
}


/* media queries DESKTOP */
@media (min-width:1024px){
    .carousel-item img{
        width: 100%;
        height: 70vh;
    }
}